{% extends 'quotes/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-2">
        {% if user.is_authenticated %}
        <a href="{% url 'quotes:add_quote' %}" class="btn btn-success mb-3 w-100">➕ Add Quote</a>
        {% endif %}
        {% if request.user.is_superuser %}
        <div class="text-center my-3">
            <form action="{% url 'quotes:scrape_quotes' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary position-relative">
                    Scrap Quotes from quotes.toscrape
                </button>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="col-md-8">
        {% for quote in page_obj %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
                <span class="text" itemprop="text">
                    {{quote.quote}}
                </span>
            <span>by <small class="author" itemprop="author">{{quote.author}}</small>
            <a href="{% url 'quotes:author_detail' quote.author.name %}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="{% url 'quotes:tag_quotes' tag.name %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% include "quotes/pagination.html" %}
    </div>
    {% include "quotes/top_ten_tags.html" %}
</div>
{% endblock %}

